---
loglevel: DEBUG
listen:
  address: 0.0.0.0
  port: 9900
applications:
  gitlab:
    log_files:
    - "/var/log/gitlab/nginx/gitlab_access.log"
    format: $remote_addr - $remote_user [$time_local] "$request" $status $body_bytes_sent
      "$http_referer" "$http_user_agent" $request_time "$upstream_response_time"
    include:
    - path: "^/api/v4/"
      methods:
      - GET
      - POST
    exclude:
    - path: "^/api/v4/jobs/"
      methods:
      - POST
    replace:
    # when multi regex paths can be matched, only use the first path by the list order
    - path: "^/api/v4/users/[0-9]+/"
      with: "/api/v4/users/<id>/"
    # use subgroup match with non greedy to capture job value, and render with template
    - path: "/api/v4/jobs/(?P<job>.*?)/.*"
      with: "/api/v4/jobs/<{{ .job }}>"
    histogram_buckets: [.05, .1, .2, .5, 1, 2, 5, 10, 20, 30]
  gitlab-pages:
    log_files:
    - "/var/log/gitlab/nginx/gitlab_pages_access.log"
    format: $remote_addr - $remote_user [$time_local] "$request" $status $body_bytes_sent
      "$http_referer" "$http_user_agent" $request_time "$upstream_response_time"
